@import url(
	'https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
	margin: 0px;
	padding: 0px;
	font-family: "Montserrat", sans-serif;
	color: rgba(0, 0, 0, .5);
	font-weight: 800;
}

body {
	margin-left: auto;
	margin-right: auto;
	width: auto;
}

a:hover {
	color: rgb(0, 0, 0);
}

.navbar ul {
	margin-left: auto;
	margin-right: auto;
    display: flex;
    width: auto;
    align-items: center;
}

.navbar li {
    list-style-type: none;
    padding: 1rem;
}

.navbar a {
    text-decoration: none;
	text-transform: uppercase;
	font-size: 1.25rem;
}

.nav-brand {
    flex: 1;
    user-select: none;
}

.navbar-toggle {
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar ul {
        flex-wrap: wrap;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-item {
        display: none;
        width: 100%;
        text-align: center;         
    }

    .active {
        display: block;
    }
}

/*
.navbar {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	font-weight: 800;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	text-transform: uppercase;
}

.navbar-brand {
	float: left;
	text-decoration: none;
	font-size: 19px;
	padding: 1em 0.5em;
	color: rgb(0, 0, 0);
}

.navbar-nav {
	margin: 0%;
}

.navbar .navbar-nav .navbar-item {
	display: inline;
	list-style: none;
	float: right;
}

.navbar-nav .navbar-item a {
	text-decoration: none;
	display: inline-block;
	font-size: 19px;
	padding: 1em .5em;
	color: rgb(0, 0, 0);
}

.navbar-nav .navbar-item a:hover {
	text-decoration: underline;
}

.toggle-collapse {
	float: right;
	width: 45px;
	height: 32px;
	margin: 0.4em 0.7em;
	background-color: transparent;
	color: rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	cursor: pointer;
	display: none;
}

.toggle-collapse:hover {
	color: rgb(0, 0, 0);
}

@media screen and (max-width: 760px) {
	.navbar-brand {
		font-size: 13px;
		display: inline-block;
		float: none;
		padding: 1.2em 0.3em;
	}
	.toggle-collapse {
		display: inline-block;
	}
	.navbar-nav {
		color: rgb(0, 0, 0);
		padding: 0%;
	}

	.navbar .navbar-nav .navbar-item {
		display: block;
		list-style: none;
		float: none;
	}

	.navbar-collapse {
		width: 100%;
		overflow: hidden;
		text-align: center;
		height: 0vh;
		transition: all 499ms ease;
	}

	.collapse {
		height: 100vh;
	}
}
*/

.home,
.about,
.gallery-intro {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	padding: 2rem;
}

article {
	margin-left: auto;
	margin-right: auto;
	max-width: 75ch;
}

.aboutheader,
.aboutimage,
.abouttext {
	display: block;
}

.aboutheader,
.galleryheader {
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 2rem;
	text-align: center;
}

.aboutimage {
	height: 175px;
	width: 175px;
	margin-left: auto;
	margin-right: auto;
	padding: .5em .5em;
}

.abouttext {
	padding: .5em .5em;
}


/* Main Gallery Container */
.container {
	width: auto;
	margin-left: auto;
	margin-right: auto;
    display: block;
}

/* Immediately Under Gallery Images */
.gallery {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
	row-gap: 5px;
}

.gallery img {
    width: 100%;
}

footer,
.sitefooter {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.socialli {
	list-style-type: none;
	display: inline;
	padding: .5em;
}

footer i:hover {
	color: rgb(0, 0, 0);
}